STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
TOSS_API_KEY=
TOSS_RET_URL=http://localhost:8000/checkout/success
TOSS_RET_CANCEL_URL=http://localhost:8000/checkout/fail
TOSS_RESULT_CALLBACK_URL=http://localhost:9000/hooks/toss
TOSS_USE_MOCK=true
